@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Karan T.V. Opposite, Bye-Pass Road<br />
    Vannarpettai, Tirunelveli.<br />
    <abbr title="Phone">P:</abbr>
    93441-52455
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sivas.support@gmail.com">sivas.support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sivas.marketing@gmail.com">sivas.marketing@gmail.com</a>
</address>