@inherits LayoutComponentBase

<NavMenu />

<Brands />

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="/images/Logo-Circle.svg" alt=""/>
        </div>
        <div class="col">@Body</div>
    </div>
</div>