@charset "utf-8";

.ProductContainer {
    color: #808080;
}

.product {
    background-color: rgb(255, 250, 250);
    margin: 10px;
    float: left;
    height: 240px;
    width: 300px;
}

    .product:hover {
        cursor: pointer;
    }

.product_ImageLand {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 240px;
    z-index: 1;
}

.product_DescriptionLand {
    display: compact;
    margin-top: 5px;
    margin-left: 20px;
}

    .product_DescriptionLand .Category {
        font-size: larger;
        text-align: center;
        display: inline;
    }

    .product_DescriptionLand .Company {
        font-size: larger;
        text-align: center;
        display: inline;
    }

    .product_DescriptionLand .Brand {
        font-size: larger;
        text-align: center;
        display: inline;
    }

    .product_DescriptionLand .Model {
        display: inline;
    }

    .product_DescriptionLand .Image {
        display: inline;
    }

    .product_DescriptionLand .Landscape {
        display: inline;
    }

    .product_DescriptionLand .EneryStar {
        display: block;
        position: relative;
        top: -60px;
        left: 2px;
        float: right;
        clear: both;
    }

    .product_DescriptionLand .Price {
        display: block;
    }

    .product_DescriptionLand .Offer {
        display: block;
        position: relative;
        top: -190px;
        left: -210px;
        float: right;
        clear: both;
        z-index: 2;
    }

    .product_DescriptionLand .Color {
        display: inline;
    }

    .product_DescriptionLand .Specification {
        display: block;
        margin-top: 5px;
    }

        .product_DescriptionLand .Specification ul {
            display: block;
            margin-left: -40px;
            list-style: none;
        }

            .product_DescriptionLand .Specification ul li {
                display: inline;
                background: url(../image/bullet.png) no-repeat;
                padding-left: 30px;
                padding-right: 10px;
                background-position-x: 0;
                background-position-y: -6px;
            }

    .product_DescriptionLand .Description {
        display: block;
    }

.Overlap {
    position: absolute;
    opacity: 0;
    background-color: #F53F42;
    height: 240px;
    width: 300px;
    -webkit-transition: opacity 1s linear 0.1s;
    -o-transition: opacity 1s linear 0.1s;
    transition: opacity 1s linear 0.1s;
}

    .Overlap:hover {
        -webkit-opacity: 0.9;
        opacity: 0.9;
        z-index: 3;
    }

    .Overlap .Text {
        font-size: xx-large;
        display: block;
        text-align: center;
        position: relative;
        top: 40%;
        color: #FFFFFF;
    }

.pagination-container {
    clear:both;
    text-align:center;
}
