@charset "utf-8";
.ProductContainer {	
	color: #808080;
}
.product {
	background-color: rgb(255, 250, 250);
	margin: 10px;
	float: left;
	height: 200px;
	width: 300px;
}
.product_Image {
	display: block;
	float: left;
	margin-right: 10px;
	height: 200px;
	width: 80px;

}
.product_Description {
	display: inline;
	float: left;
	margin-top: 5px;

}
.product_Description .Brand {
	display: block;
}
.product_Description .Model {
	display: block;
}
.product_Description .EneryStar {
	display: block;
}
.product_Description .Color {
	display: block;
}
.product_Description .Specification {
	display: block;
}
