@charset "utf-8";

.ProductContainer {
    color: #808080;
    clear: both;
}

.product {
    background-color: rgb(255, 250, 250);
    margin: 10px;
    margin-left: 40px;
    float: left;
    height: 240px;
    width: 300px;
    -webkit-box-shadow: 2px 2px 4px 2px #2D2D2D;
    box-shadow: 2px 2px 4px 2px #2D2D2D;
    border-radius: 10px;
}

    .product:hover {
        cursor: pointer;
    }

.product_ImagePort {
    display: block;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    height: 200px;
    width: 80px;
}

    .product_ImagePort img {
        margin-top: 5px;
        margin-left: 5px;
    }

.product_DescriptionPort {
    display: compact;
    margin-top: 5px;
}

    .product_DescriptionPort .Category {
        font-size: larger;
        text-align: left;
        display: block;
    }

    .product_DescriptionPort .Company {
        font-size: larger;
        text-align: left;
        display: block;
    }

    .product_DescriptionPort .Brand {
        font-size: larger;
        text-align: left;
        display: block;
    }

    .product_DescriptionPort .Model {
        display: block;
    }

    .product_DescriptionPort .Image {
        display: block;
    }

    .product_DescriptionPort .Landscape {
        display: block;
    }

    .product_DescriptionPort .EneryStar {
        display: block;
        position: relative;
        top: -200px;
        left: 247px;
        float: left;
        clear: both;
    }

    .product_DescriptionPort .Price {
        display: block;
    }

    .product_DescriptionPort .Offer {
        display: block;
        position: relative;
        float: right;
        clear: both;
        top: -80px;
        left: -200px;
    }

    .product_DescriptionPort .Color {
        display: block;
    }

    .product_DescriptionPort .Specification {
        display: block;
    }

        .product_DescriptionPort .Specification ul {
            list-style: none;
        }

            .product_DescriptionPort .Specification ul li {
                display: block;
                background: url(../image/bullet.png) no-repeat;
                padding-left: 30px;
                padding-right: 10px;
                margin-left: 50px;
                background-position-x: 0;
                background-position-y: -6px;
            }

    .product_DescriptionPort .Description {
        display: block;
    }

.Overlap {
    position: absolute;
    opacity: 0;
    background-color: #F53F42;
    height: 240px;
    width: 300px;
    -webkit-transition: opacity 1s linear 0.1s;
    -o-transition: opacity 1s linear 0.1s;
    -moz-transition: opacity 1s linear 0.1s;
    transition: opacity 1s linear 0.1s;
    border-radius: 10px;
}

    .Overlap:hover {
        opacity: 0.9;
        z-index: 3;
        border-radius: 10px;
    }

    .Overlap .Text {
        font-size: xx-large;
        display: block;
        text-align: center;
        position: relative;
        top: 40%;
        color: #FFFFFF;
    }

.pagination-container {
    clear: both;
    text-align: center;
}

.product_Title {
    display: compact;
    color: #2D2D2D;
    text-align: center;
    font-size: x-large;
    margin-top: 5px;
}

.PriceHolderPort {
    border-radius: 50%;
    background-color: #fed0d0;
    position: relative;
    bottom: 0;
    left: -30px;
    clear: both;
    width: 70px;
    height: 70px;
    -webkit-box-shadow: -2px 1px 6px #F53F42;
    box-shadow: -2px 1px 6px #F53F42;
    z-index: 3;
    opacity: 0.85;
}

    .PriceHolderPort .Text {
        position: relative;
        text-align: right;
        color: #2940f5;
        font-size: medium;
        top: 25px;
        left: 5px;
        text-shadow: 1px 1px 1px #b2fefe;
    }
