@charset "utf-8";

.ProductContainer {
    color: #808080;
}

.product {
    background-color: rgb(255, 250, 250);
    margin: 10px;
    float: left;
    height: 240px;
    width: 300px;
}

    .product:hover {
        cursor: pointer;
    }

.product_ImageLand {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 240px;
}

.product_DescriptionLand {
    display: compact;
    margin-top: 5px;
    margin-left: 20px;
}

    .product_DescriptionLand .Brand {
        font-size: larger;
        text-align: center;
        display: block;
    }

    .product_DescriptionLand .Model {
        display: block;
    }

    .product_DescriptionLand .EneryStar {
        display: block;
    }

    .product_DescriptionLand .Color {
        display: block;
    }

    .product_DescriptionLand .Specification {
        display: block;
    }

        .product_DescriptionLand .Specification ul {
            margin-left: -40px;
            list-style: none;
        }

            .product_DescriptionLand .Specification ul li {
                display: inline;
                background: url(../image/bullet.png) no-repeat;
                padding-left: 30px;
                padding-right: 10px;
                background-position-x: 0;
                background-position-y: -6px;
            }
