<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sivas</title>
    <base href="/" />
    <BaseHeader Author="Brushtail Technology Private Limited" Logo="images/Logo-Circle.svg" 
                Fonts="Nunito:wght@400;700,Oleo+Script:wght@400;700,Lato:wght@400;700"
                Title="Brushtail Technology" ClarityProjectID="hck8wqnnd7" GoogleAnalyticsMeasurementID="G-9WLQYYSBFG"
                Keywords="it company,it company nagercoil, website works, logo works, brushtail, brushtailtech, brushtail technology, himalaya, tech company, tech company nagercoil"
                Description="We try to provide good solutions to our customers. For that, we tie-up with the third-party company partnerships. We are supporting security solutions, cloud services, artificial and machine learning, smart home solutions, educational solutions, enterprise solutions, graphic design, web design, front & back-end development, VFX works, fluid and fire simulations, game development, VR Solutions, architecture visualization, 3D Modelling, Trainings, Network & Hardware, third-party solutions, reselling and distributions. We have over ten years of experience in IT."
                @rendermode="@InteractiveServer" />
</head>
<body>
    <Routes @rendermode="@InteractiveServer" />

    <BaseFooter @rendermode="@InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>
</body>
</html>